{% extends 'base.html.twig' %}

{% block title %}Liste des médicaments!{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="display-4 text-center mb-5">Liste des médicaments</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">Nom commercial</th>
                <th scope="col" class="text-center">Prix échantillon</th>
                <th scope="col" class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr onclick="document.location='#'">
                <th scope="row">1</th>
                <td class="text-center">Dolîprane</td>
                <td class="text-center">0.5€</td>
                <td class="text-right"><a href="#"><button type="button" class="btn btn-warning"><i class="fas fa-pen"></i></button></a><a href="#"><button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button></a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
