<footer>
<img src="/assets/img/separator/footer.png" class="separator">
    <div class="footer">
        <p class="text-center m-0">Copyright @ LJV.FREE.FR - Tous droits réservés.</p>
        <p class="text-center m-0 mt-1">
            <a href="#"></a><span>Mentions légales</span></a> - 
            <a href="#"></a><span>Conditions d'utilisation</span></a>
        </p>
    </div>
</footer>