<header>
    <span class="header-title">Gestion Medoc</span>
    <span class="header-menu">
        <a href="{{ path('home_index') }}"><span class="menu" id="index">Home</span></a>
        <a href="{{ path('medoc_index') }}"><span class="menu" id="medicament">Médicaments</span></a>
        <a href="{{ path('home_index') }}"><span class="menu" id="famille">Familles</span></a>
        <a href="{{ path('compo_index') }}"><span class="menu" id="composant">Composants</span></a>
    </span>
</header>