{% extends 'base.html.twig' %}

{% block title %}Liste des composants{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="display-4 text-center mb-5">Liste des composants</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">Nom</th>
                <th scope="col" class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for composant in composants %}
                <tr>
                    <th scope="row">{{ composant.id }}</th>
                    <td class="text-center">{{ composant.NomComposant }}</td>
                    <td class="text-right"><a href="path('compo_edit')"><button type="button" class="btn btn-warning"><i class="fas fa-pencil-alt"></i></button></a><a href="#"><button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block stylesheets %}
<style>td button { margin-left:5px; margin-right:5px; }</style>
{% endblock %}
