{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
    <center><img src="https://i.gifer.com/7VE.gif">
    <div>
    <h3 class="display-4">Erreur 404</h3><p>Page non trouvé</p>
    <a href="/"><button class="btn btn-primary">Retourner à l'accueil</button></a>
    </center>
    </div>
{% endblock %}