{% extends 'base.html.twig' %}

{% block title}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="display-5 text-center mt-5">Créer un compte</h2>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-success btn-block">Inscription</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
